name: Documentation Tests

on:
  push:
    branches: [master, examples]
  pull_request:
    branches: [master, examples]

permissions:
  contents: read

jobs:
  doctests:
    name: doctests
    runs-on: ubuntu-latest

    services:
      redis-stack:
        image: redis/redis-stack-server:latest
        options: >-
          --health-cmd "redis-cli ping" --health-interval 10s --health-timeout 5s --health-retries 5
        ports:
          - 6379:6379

    strategy:
      fail-fast: false
      matrix:
        go-version: [ "1.18", "1.19", "1.20", "1.21" ]

    steps:
      - name: Set up ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Test doc examples
        working-directory: ./doctests
        run: go test
