name: golangci-lint

on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
      - v9
      - v9.8
  pull_request:

permissions:
  contents: read
  pull-requests: read  # for golangci/golangci-lint-action to fetch pull requests

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9.1.0
        with:
          verify: true 

